module git_daemon_gitolite 1.0;

require {
        type git_system_t;
        type git_system_content_t;
        type git_content_t;
        class lnk_file read;
        class dir { getattr open read search };
        class file { getattr open read };
}

#============= git_system_t ==============
allow git_system_t git_system_content_t:lnk_file read;
allow git_system_t git_content_t:dir { getattr open read search };
allow git_system_t git_content_t:file { getattr open read };
